header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: rgb(37, 37, 45);
	width: 100vw !important;
	height: fit-content;
	margin: 0px;
	padding: 10px 32px;

	border-bottom: 1px solid rgb(75, 85, 99);
	position: fixed;
	z-index: 10;
}

.header-container {
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header-hero {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	height: 100%;
}

.header-container * {
	text-decoration: none;
	text-transform: uppercase;
}

.header-profile {
	min-width: 400px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-profile img {
	height: 100%;
	aspect-ratio: 1/1;
	border: none;
	border-radius: 100%;
	margin-right: 15px;

	object-fit: cover;
	cursor: pointer;
	z-index: 10;
}

.header-menu {
	width: 40%;
	height: 100%;

	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;

	.list-icon {
		display: none;
	}
}

.header-menu-container {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: row;

	margin: 0px;
	position: relative;
}

.header-menu-container li {
	height: 100%;
	width: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label[for="bntListMenu"] {
	display: flex;
	width: 100px;
	justify-content: center;
}

#bntListMenu {
	display: none !important;
}

.header-menu-container {
	display: none;
}

.header-menu-container a {
	width: 100%;
	padding: 10px 5px;
	text-align: center;
}

@media all and (max-width: 499px) {
	.name {
		display: none !important;
	}

	.header-menu-container a {
		font-size: 12px !important;
	}
}

@media all and (max-width: 1150px) {
	.header-profile {
		min-width: 0px;
		width: fit-content;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header-menu {
		flex: 1;
		flex-direction: column;
		height: fit-content;
		justify-content: center;
		align-items: end;

		position: relative;
	}

	.list-icon {
		display: block !important;
		height: 64px;
		padding: 15px;
		aspect-ratio: 1/1;
	}

	.header-menu-container {
		flex-direction: column;
		flex: 1;

		align-items: center;
		justify-content: center;
		display: none;
	}

	#bntListMenu:checked ~ .header-menu-container {
		display: flex;
		background-color: rgb(55, 65, 81);
		width: 100px;
		height: fit-content;
		padding: 10px;
		position: absolute;
		border-radius: 8px;
		top: 100%;

		animation: shows 0.3s ease-in-out forwards;

		li {
			display: flex;
			justify-content: start;
			width: 100%;
			padding: 6px 3px;
		}
	}

	.coming-soon.blog {
		top: 76%;
		left: -120%;
		background-color: rgb(35, 40, 50);
	}

	#bntSW:checked + div .coming-soon.blog {
		background-color: rgb(255, 255, 255);
	}
}

@media all and (min-width: 1151px) and (max-width: 1900px) {
	.header-container {
		width: 95%;
	}

	.header-menu-container {
		display: flex;
	}

	.header-menu-container li {
		flex: 1;
	}
}

@media all and (min-width: 1901px) {
	.header-container {
		width: 70%;
	}

	.header-menu-container {
		display: flex;
	}

	.header-menu-container li {
		flex: 1;
	}
}

@keyframes shows {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
