* {
	font-family: "JetBrains Mono", monospace, sans-serif;
	font-size: 16px;
	color: rgb(240, 240, 240);

	box-sizing: border-box;
	margin: 0px;
}

a {
	text-decoration: none;
}

.white {
	color: rgb(240, 240, 240);
	transition: color 0.5s ease-in-out;
}

.gray {
	color: rgba(240, 240, 240, 0.7);
	transition: color 0.5s ease-in-out;
}

.gray path {
	fill: rgba(240, 240, 240, 0.7);
	transition: color 0.5s ease-in-out;
}

.gray:hover {
	color: rgb(240, 240, 240);
}

.gray:hover path {
	fill: rgb(240, 240, 240);
}

.black {
	color: black;
	transition: color 0.5s ease-in-out;
}

.black path {
	fill: rgba(240, 240, 240, 0.8);
	transition: color 0.5s ease-in-out;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.-top-90 {
	top: -90px;
}

.font-50px {
	font: 50px "JetBrains Mono", monospace, sans-serif;
}

.font-40px {
	font: 40px "JetBrains Mono", monospace, sans-serif;
}

.font-30px {
	font: 30px "JetBrains Mono", monospace, sans-serif;
}

.font-22px {
	font: 22px "JetBrains Mono", monospace, sans-serif;
}

.font-20px {
	font: 20px "JetBrains Mono", monospace, sans-serif;
}

.font-20px {
	font: 20px "JetBrains Mono", monospace, sans-serif;
}

.font-18px {
	font: 18px "JetBrains Mono", monospace, sans-serif;
}

.font-16px {
	font: 16px "JetBrains Mono", monospace, sans-serif;
}

.font-15px {
	font: 15px "JetBrains Mono", monospace, sans-serif;
}

.font-14px {
	font: 14px "JetBrains Mono", monospace, sans-serif;
}

.font-12px {
	font: 12px "JetBrains Mono", monospace, sans-serif;
}

.font-thin {
	font-weight: 100;
}

.font-extralight {
	font-weight: 200;
}

.font-light {
	font-weight: 300;
}

.font-regular {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.font-extrabold {
	font-weight: 800;
}

.font-italic {
	font-style: italic;
}

.text-uppercase {
	text-transform: uppercase;
}

.list-style-none {
	list-style: none;
}

.list-style-disc {
	list-style: disc;
}

.size-12x12 {
	width: 12px;
	height: 12px;
}

.size-15x15 {
	width: 15px;
	height: 15px;
}

.size-20x20 {
	width: 20px;
	height: 20px;
}

.size-25x25 {
	width: 25px;
	height: 25px;
}

.size-30x30 {
	width: 30px;
	height: 30px;
}

.size-60x60 {
	width: 60px;
	height: 60px;
}

.cursor-pointer {
	cursor: pointer;
}

.underline-hover:hover {
	text-decoration: underline;
}

body {
	line-height: 1.5;

	overflow-x: hidden;
	overflow-y: scroll;
	min-width: 100vw;

	/* background: #353535; */
}

#bntSW {
	display: none;
}

.content {
	min-width: 100%;
	height: fit-content;
}

.switch-mode {
	width: 70px;
	height: 33px;
	display: flex;

	position: relative;
}

.slider {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
	justify-content: space-around;

	border-radius: 36px;
	background-color: #27536b;
	transition: all 0.3s ease-in-out;

	position: relative;
	padding: 2px;
}

.slider img {
	position: absolute;
	left: 52%;
}

.day-mode {
	opacity: 0;
}

.night-mode {
	height: 28px;
	width: 28px;
	opacity: 1;
}

.slider::before {
	display: block;
	content: "";
	width: 28px;
	height: 28px;

	position: absolute;
	left: -3%;

	border-radius: 60px;
	border: 3px solid gainsboro;

	background-color: rgb(240, 240, 240);
	transition: all 500ms ease-in-out;
	box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.4);

	z-index: 1;
}

#bntSW:checked + div .slider {
	background-color: rgb(55, 65, 80);
	border-color: transparent;
}

#bntSW:checked + div .slider::before {
	transform: translatex(125%);
}

#bntSW:checked + div .slider .day-mode {
	transform: translatex(-115%);
	opacity: 1;
}

#bntSW:checked + div .slider .night-mode {
	transform: translatex(-120%);
	opacity: 0;
}

#bntSW:checked + div * {
	color: black;
}

#bntSW:checked + div .rgb(240, 240, 240) {
	color: black;
}

#bntSW:checked + div .gray {
	color: rgba(0, 0, 0, 0.6);
}

#bntSW:checked + div .gray path {
	fill: rgba(0, 0, 0, 0.6);
}

#bntSW:checked + div .gray:hover {
	color: rgb(0, 0, 0);
}

#bntSW:checked + div .gray:hover path {
	fill: rgb(0, 0, 0);
}

#bntSW:checked + div .black {
	color: rgb(240, 240, 240);
}

#bntSW:checked + div .black path {
	fill: rgba(0, 0, 0, 0.8);
}

#bntSW:checked + div header {
	background-color: rgb(240, 240, 240);
	border-bottom: 1px rgba(0, 0, 0, 0.35) solid;
}

#bntSW:checked + div .coming-soon {
	background-color: rgb(200, 200, 200);
}

@media all and (max-width: 1151px) {
	#bntSW:checked + div #bntListMenu:checked ~ .header-menu-container {
		background-color: rgb(200, 200, 200);
	}
}

#bntSW:checked + div .home {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to right, rgba(150, 150, 150, 1), rgba(150, 150, 150, 1)),
		url(./image/Home-background-1.svg);
}

#bntSW:checked + div main {
	background-color: rgb(235, 235, 235);
}

#bntSW:checked + div .table-contents-container li {
	background-color: rgb(220, 220, 220);
	border-bottom: 1px solid rgba(150, 150, 150, 0.35);
}

#bntSW:checked + div .table-contents-container li:first-child {
	background-color: rgb(185, 185, 185);
}

#bntSW:checked + div .table-contents-container li:last-child {
	border-bottom: none;
}

#bntSW:checked + div .chevron-down {
	background-color: rgb(220, 220, 220);
}

#bntSW:checked + div .item > .icon {
	background-color: rgb(185, 185, 185);
}

#bntSW:checked + div .box {
	border: 2px solid rgba(0, 0, 0, 0.2);
}

#bntSW:checked + div .list-box li {
	background-color: rgba(150, 150, 150, 0.35);
}

#bntSW:checked + div footer {
	background-color: rgb(220, 220, 220);
}

.coming-soon {
	position: absolute;
	top: 110%;

	background-color: rgb(55, 65, 81);
	width: fit-content;
	min-width: 140px;
	min-height: 36px;
	border-radius: 8px;
	padding: 10px 15px;

	text-align: center;
	opacity: 0;

	transition: opacity 0.6s ease-in-out;
}

.coming-soon-hover {
	position: relative;
}

.coming-soon-hover:hover + .coming-soon {
	opacity: 1;
}
